@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100,200,300,400,500,600,700&display=swap');

body {
    margin: 0;
    border: 0;
    padding: 0;
}

/*-----------------------------Navbar---*/

.navbar {
    background-color: #000;
}

.navbar-brand {
    font-weight:700;
    color:#fff;
}
.navbar-brand:hover {
    color: #c1efcb;
}


.navbar-text i {
    color: #fff;
}

.container-logo {
    margin-left: 0;
    margin-right: 0;
    height: 35px;
    position: relative;
}

.nav-link {
    color: #fff;
}

.nav-link:hover {
    color:#c1efcb;
}


.navbar-toggler-icon i {
    color:#1be449;
    border: 0px;
}


.jumbotron {
    background-color: transparent;
}

/*-----------------------------------First Sight-----------------*/

section {
    background-color: #000;
}
.firstsight-container {
    height: 100vh;

    background: url(../images/EOP_9282.jpg) no-repeat bottom right fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5)
}

.firstsight-header {
    color: #fff;
    font-weight: 700;
    margin-bottom: 30px;
    font-size: 50px;
}

.firstsight-dumbell {
    font-size: 50px;
    color: red;
}

.firstsight-dumbell:hover {
     color:#c1efcb;
}

.first-sight-info {
    font-size: 30px;
    color: #bfd6ec;;
    font-weight: 700;
}

.header-story {
    color: red;
    font-size: 20px; 
}

.first-sight-message {
    font-size: 600;
    font-weight: bold;
    color: #fff;
}

/*-------------------------------------Benefits----*/

.container-benefit {
    color: #fff;
}

/*-------------------------------------Testimonies----*/


.container-testimony {
    background-color: #c1efcb;
}

.media-content {
    margin-top: 3em;
}

.img-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 3em;
}

.rounded-circle  {
    border: 2px solid #000;
    padding: 5px;
}

/*---------------------------------- button--------*/

.btn--firstsight {
    font-weight: bold;
    border-radius: 23px;
    width: 200px;
}

.btn--dark {
    color: white;
    background-color: #1be449;
    border-color: rgb(15, 17, 16);
}

.btn-success {
    color: #000;
    background-color: #1be449;
}

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background-color: #6ace81;
    border-color: rgb(15, 17, 16);
}

/*---------------------------------footer----------*/


footer {
    background-color: #525252;
    color: #fafafa;
    min-height: 100px;
    margin: 0;
}

.footer-logo {
   height: 100px;
   margin-top: 40px;
    margin-left: 100px;
    margin-bottom: 20px;
}

.social-links {
    text-align: center;
	margin: 20px auto;
}

.fa-social-icons li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 20px;
    line-height: 7px;
    text-align: center;
    color: #000;
    background:#fafafa;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}
.fa-social-icons li a i:hover {
    background:  #525252;
} 

.contact-details {
    text-align: center;
	margin: 20px auto;
}


/*---------------------------------Gallery----------*/

#pics {
    clear: both;
    column-count: 4;
    line-height: 0;
    column-gap: 0px;
}

#pics a img {
    width: 100%;
    border: 2px solid #fff;
}

/*---------------------------------about----------*/


.pels {
    height: 100%;
    width: 100%;
    position: center;
    overflow: hidden;
    margin-top: 3px;
    padding-top: 70px;
}

.pels i {
    font-size: 110%;
    letter-spacing: auto;
    color: #a2e9b2;
}

.pels img {
    float: left;
    overflow: auto;
    padding-right: 20px;
}

/*---------------------------------media queries----------*/

@media screen and (max-width: 757px) {
    #pics {
        column-count: 2;
    }

}

