@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100,200,300,400,500,600,700&display=swap');


/*-----------------------------Navbar---*/

.navbar {
    background-color: #000;
}

.navbar-brand {
    font-weight:700;
    color:#fff;
}

.navbar-text i {
    color: #fff;
}

.container-logo {
    margin-left: 0;
    margin-right: 0;
    height: 35px;
    position: relative;
}

.nav-link {
    color: #fff;
}

.navbar .navbar-toggler-icon {
    border: 0;
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg'/ width='30' height='30' viewBox='0 0 30 30'%3e%3cpath /stroke='rgba%28255, /255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

.jumbotron {
    background-color: transparent;
}

/*-----------------------------------First Sight-----------------*/

section {
    background-color: #000;
}
.firstsight-container {
    height: 100vh;

    background: url(../images/ms1girl4.jpg) no-repeat bottom right fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5)
}

.firstsight-header {
    color: #fff;
    font-weight: 700;
    margin-bottom: 30px;
    font-size: 50px;
}

.firstsight-dumbell {
    font-size: 50px;
    color: red;
}

.header-acronym {
    font-size: 30px;
    color: #bfd6ec;;
    font-weight: 700;
}

.header-story {
    color: red;
    font-size: 20px; 
}

/*-------------------------------------Benefits----*/

.container-benefit {
    color: #fff;
}

/*-------------------------------------Testimonies----*/


.container-testimony {
    background-color: #c1efcb;
}

.media-content {
    margin-top: 3em;
}

.img-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 3em;
}

/*---------------------------------- button--------*/

.btn--firstsight {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--dark {
    color: white;
    background-color: #1be449;
    border-color: #495057;
}

/*---------------------------------footer----------*/


footer {
    background-color: #525252;
    color: #fafafa;
    min-height: 100px;
    margin: 0;
}

.footer-logo {
   height: 100px;
   margin-top: 40px;
    margin-left: 100px;
    margin-bottom: 20px;
}

.social-links {
    text-align: center;
	margin: 20px auto;
}

.fa-social-icons li a i {
     width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.contact-details {
    text-align: center;
	margin: 20px auto;
}


/*---------------------------------Gallery----------*/

.container-pictures {
    clear: both;
    box-sizing: border-box;
}

#pictures li a img {
    line-height: 0;
    column-gap: 0;
    height: 50%;
    width: 100%;
    margin: auto;
}

/*---------------------------------about----------*/

.pels {
    min-height: 100%;
    margin: 0;

}

.pels p {
   color:#1be449;
}

.pels img {
    float: left;
    overflow: auto;
 	width: 400px;
 	height: 300px;
 	padding-right: 10px;
 	padding-left: 10px;
}
